((# Supported variables: certificates[], section_labels.certificates? #))
((* if certificates and certificates | length > 0 *))
((* set _st = (section_labels or {}).get('certificates', 'Certificates') *))
\section*{((( _st | upper | latex_escape )))}
\vspace{0.6em}
\hspace{-0.3cm}\begin{tabular}{H|R}
((* for cert in certificates *))
{\scriptsize ((* if cert.date *))((( cert.date | latex_escape )))((* else *))\phantom{0000}((* endif *))} & \textbf{((( cert.title | latex_escape )))}\\[-2pt]
& \textsc{((( cert.organization | default('') | latex_escape )))} $\cdot$ ((( cert.location | default('') | latex_escape )))\\[0.6em]
((* endfor *))
\end{tabular}
((* endif *))
