((# Supported variables: experience[], section_labels.experience? #))
((* if experience and experience | length > 0 *))
((* set _st = (section_labels or {}).get('experience', 'Experience') *))
\section*{((( _st | upper | latex_escape )))}
\vspace{0.6em}
\hspace{-0.3cm}
\begin{tabular}{H|R}
((* for entry in experience *))
{\scriptsize ((* if entry.period *))((( entry.period | latex_escape )))((* else *))\phantom{0000}((* endif *))}
& {\parbox[t]{\linewidth}{
{\bfseries\normalsize ((( entry.title | default('') | latex_escape ))) }
((* if entry.title and entry.organization *)) -- ((* endif *))
((* if entry.organization *))\textit{((( entry.organization | latex_escape )))}((* endif *))\\[-2pt]
{\scshape\small ((( entry.organization | default('') | latex_escape )))
((* if entry.location *))\;\textbar\;((( entry.location | latex_escape )))((* endif *))}
}}\\[-2pt]
((* if entry.details and entry.details | length > 0 *))
& {\color{black!75}\small
\begin{itemize}[leftmargin=1.2em, itemsep=0.16em, topsep=0.2em]
((* for item in entry.details *))
\item ((( item | latex_escape )))
((* endfor *))
\end{itemize}}\\[0.55em]
((* else *))
& \\[0.55em]
((* endif *))
((* endfor *))
\end{tabular}
((* endif *))
