((# Supported variables: experience[], section_labels.experience? #))
((* if experience and experience | length > 0 *))
((* set _st = (section_labels or {}).get('experience', 'Experience') *))
\section*{((( _st | upper | latex_escape )))}
\vspace{0.6em}
\hspace{-0.3cm}
\begin{tabular}{r| p{0.72\textwidth}}
((* for entry in experience *))
{\scriptsize ((( entry.period | latex_escape )))} & \textbf{\normalsize ((( entry.title | latex_escape )))}\\[-2pt]
& \textsc{\small ((( entry.organization | latex_escape )))} $\cdot$ {((( entry.location | latex_escape )))}\\[-2pt]
((* if entry.details and entry.details | length > 0 *))
& {\color{black!75}\small
\begin{itemize}[leftmargin=1.2em, itemsep=0.2em, topsep=0.2em]
((* for item in entry.details *))
\item ((( item | latex_escape )))
((* endfor *))
\end{itemize}}\\[0.8em]
((* else *))
& \\[0.8em]
((* endif *))
((* endfor *))
\end{tabular}
((* endif *))
