((# Supported variables: hobbies[] with optional icon keys, section_labels.hobbies? #))
((* if hobbies and hobbies | length > 0 *))
((* set _st = (section_labels or {}).get('hobbies', 'Hobbies') *))
\hspace{-0.7cm}\bgUpper{backBlue}{white}{((( _st | latex_escape )))} \\
\\
\begin{center}
\begin{tabular}{@{}p{0.43\leftcolwidth}@{\hspace{0.6em}}p{0.43\leftcolwidth}@{}}
((* for hobby in hobbies *))
\begin{minipage}[t]{\linewidth}\centering
((* if hobby.icon == "bicycle" *))\hobbyicon{\textcolor{backBlue}{\large\faBicycle}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "book" *))\hobbyicon{\textcolor{backBlue}{\large\faBook}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "soccer" *))\hobbyicon{\textcolor{backBlue}{\large\faSoccerBallO}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "music" *))\hobbyicon{\textcolor{backBlue}{\large\faMusic}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "code" *))\hobbyicon{\textcolor{backBlue}{\large\faCode}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "camera" *))\hobbyicon{\textcolor{backBlue}{\large\faCamera}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "plane" or hobby.icon == "travel" *))\hobbyicon{\textcolor{backBlue}{\large\faPlane}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "heart" *))\hobbyicon{\textcolor{backBlue}{\large\faHeart}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "tree" or hobby.icon == "hiking" *))\hobbyicon{\textcolor{backBlue}{\large\faTree}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "gamepad" *))\hobbyicon{\textcolor{backBlue}{\large\faGamepad}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "paint" *))\hobbyicon{\textcolor{backBlue}{\large\faPaintBrush}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "cooking" *))\hobbyicon{\textcolor{backBlue}{\large\faCutlery}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* elif hobby.icon == "running" *))\hobbyicon{\textcolor{backBlue}{\large\faHeartbeat}}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\normalsize}{2em}
((* else *)){\small \parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}
((* endif *))
\end{minipage}
((* if loop.index % 2 == 0 *))\\[3.2em]((* else *))&((* endif *))
((* endfor *))
((* if hobbies | length % 2 == 1 *))\\((* endif *))
\end{tabular}
\end{center}
\hipstersidebarspace
((* endif *))
