((# Supported variables: hobbies[] with optional icon keys, section_labels.hobbies? #))
((* if hobbies and hobbies | length > 0 *))
((* set _st = (section_labels or {}).get('hobbies', 'Hobbies') *))
\hspace{-0.7cm}\bgUpper{backBlue}{white}{((( _st | latex_escape )))} \\
\\
\hspace{-2.2em}\begin{tabular}{@{}p{0.48\leftcolwidth}p{0.48\leftcolwidth}@{}}
((* for hobby in hobbies *))
\begin{minipage}[t]{\linewidth}\centering
((* if hobby.icon == "bicycle" *))\hobbyicon{\color{iconcolour}\faBicycle}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "book" *))\hobbyicon{\color{iconcolour}\faBook}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "soccer" *))\hobbyicon{\color{iconcolour}\faSoccerBallO}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "music" *))\hobbyicon{\color{iconcolour}\faMusic}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "code" *))\hobbyicon{\color{iconcolour}\faCode}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "camera" *))\hobbyicon{\color{iconcolour}\faCamera}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "plane" or hobby.icon == "travel" *))\hobbyicon{\color{iconcolour}\faPlane}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "heart" *))\hobbyicon{\color{iconcolour}\faHeart}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "tree" or hobby.icon == "hiking" *))\hobbyicon{\color{iconcolour}\faTree}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "gamepad" *))\hobbyicon{\color{iconcolour}\faGamepad}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "paint" *))\hobbyicon{\color{iconcolour}\faPaintBrush}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "cooking" *))\hobbyicon{\color{iconcolour}\faCutlery}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* elif hobby.icon == "running" *))\hobbyicon{\color{iconcolour}\faHeartbeat}{\parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}{cvBlue4}{\iconsize}{2em}
((* else *)){\small \parbox[t]{0.95\linewidth}{\centering ((( hobby.name | latex_escape )))}}
((* endif *))
\end{minipage}
((* if loop.index % 2 == 0 *))\\[3.2em]((* else *))&((* endif *))
((* endfor *))
((* if hobbies | length % 2 == 1 *))\\((* endif *))
\end{tabular}
\vspace{3em}
((* endif *))
