((# Supported variables: skills[], section_labels.skills? #))
((* if skills and skills | length > 0 *))
((* set _st = (section_labels or {}).get('skills', 'Skills') *))
\section*{((( _st | upper | latex_escape )))}
\vspace{0.6em}
\hspace{-0.3cm}\begin{tabular}{H|R}
((* for skill in skills *))
{\scriptsize\phantom{0000}} & \textbf{((( skill.category | latex_escape )))}\\[-2pt]
& ((( skill.list | latex_escape )))\\[0.6em]
((* endfor *))
\end{tabular}
((* endif *))
