((# Supported variables: summary, section_labels.summary? #))
((* if summary *))
((* set _st = (section_labels or {}).get('summary', 'Summary') *))
\hspace{-0.7cm}\bgUpper{backBlue}{white}{((( _st | latex_escape )))}\\
\\
\hspace{-1.8em}\begin{minipage}[t]{0.90\leftcolwidth}
{\footnotesize\raggedright ((( summary | latex_escape )))}
\end{minipage}
\hipstersidebarspace
((* endif *))
