((# Supported variables: writings[], section_labels.writing? #))
((* if writings and writings | length > 0 *))
((* set _st = (section_labels or {}).get('writing', 'Publications') *))
\section*{((( _st | upper | latex_escape )))}
\vspace{0.6em}
\hspace{-0.3cm}\begin{tabular}{r| p{0.72\textwidth}}
((* for item in writings *))
{\scriptsize ((( item.period | default('') | latex_escape )))} & \textbf{((( item.title | latex_escape )))}\\[-2pt]
& \textsc{((( item.role | default('') | latex_escape )))} $\cdot$ ((( item.location | default('') | latex_escape )))
((* if item.details and item.details | length > 0 *))\\[-2pt]
& {\color{black!75}\small ((( item.details | join(' ') | latex_escape ))) }\\[0.6em]
((* else *))\\[0.6em]
((* endif *))
((* endfor *))
\end{tabular}
((* endif *))
