((# Supported variables: writings[], section_labels.writing? #))
((* if writings and writings | length > 0 *))
((* set _st = (section_labels or {}).get('writing', 'Publications') *))
\section*{((( _st | upper | latex_escape )))}
\vspace{0.6em}
\hspace{-0.3cm}\begin{tabular}{H|R}
((* for item in writings *))
{\scriptsize ((* if item.period *))((( item.period | latex_escape )))((* else *))\phantom{0000}((* endif *))} & {\parbox[t]{\linewidth}{\textbf{((( item.title | latex_escape )))}\\[0pt]\textsc{((( item.role | default('') | latex_escape )))} $\cdot$ ((( item.location | default('') | latex_escape )))
((* if item.details and item.details | length > 0 *))\\[-6pt]
{\color{black!75}\small\vspace{-0.5em} ((( item.details | join(' ') | latex_escape ))) }
((* endif *))
}}\\[3.5em]
((* endfor *))
\end{tabular}
((* endif *))
