%-------------------------------------------------------------------------------
%\tSECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{Interests}


%-------------------------------------------------------------------------------
%\tCONTENT
%-------------------------------------------------------------------------------
\begin{cvparagraph}

%---------------------------------------------------------
((* for interest in interests *))
((( interest.name | default("") | latex_escape )))((* if not loop.last *)), ((* endif *))
((* endfor *))
\end{cvparagraph}
