%-------------------------------------------------------------------------------
%\tSECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{Languages}


%-------------------------------------------------------------------------------
%\tCONTENT
%-------------------------------------------------------------------------------
\begin{cvskills}

%---------------------------------------------------------
((* for language in languages *))
  \cvskill
    {((( language.name | default("") | latex_escape )))} % Language
    {((( language.level | default("") | latex_escape )))} % Level

%---------------------------------------------------------
((* endfor *))
\end{cvskills}
