%-------------------------------------------------------------------------------
%\tSECTION TITLE
%-------------------------------------------------------------------------------
((* set _st = (section_labels or {}).get('languages', 'Languages') *))
\cvsection{((( _st | latex_escape )))}


%-------------------------------------------------------------------------------
%\tCONTENT
%-------------------------------------------------------------------------------
\begin{cvskills}

%---------------------------------------------------------
((* for language in languages *))
  \cvskill
    {((( language.name | default("") | latex_escape )))} % Language
    {((( language.level | default("") | latex_escape )))} % Level

%---------------------------------------------------------
((* endfor *))
\end{cvskills}
