((# ============================================================ #))
((# Template: hipster_cv/cv.tex.j2                               #))
((# Source: adapted from user-provided hipster-cv variant         #))
((# Focused pass: header + work experience layout                 #))
((# ============================================================ #))
%!TEX option = --shell-escape
\documentclass[pastel]{hipstercv}
\usepackage[utf8]{inputenc}
\usepackage[default]{raleway}
\usepackage[margin=1cm, a4paper]{geometry}
\usepackage[english]{babel}
\usepackage{enumitem}

\newlength{\rightcolwidth}
\newlength{\leftcolwidth}
\setlength{\leftcolwidth}{0.2\textwidth}
\setlength{\rightcolwidth}{0.8\textwidth}

\author{Job Agent}
\date{\today}
\pagestyle{empty}

\newcommand{\hipstercontactline}[2]{#1 & #2\\[1pt]}
\newcommand{\headernophoto}[2]{%
\begin{tikzpicture}[remember picture,overlay]
\node[rectangle, fill=backBlue, anchor=north, minimum width=\paperwidth, minimum height=5cm](header) at (current page.north){};
\node[anchor=west](photo) at ($(header.west)+(3.4cm,-2.45cm)$) {};
\draw[draw=black!60, line width=0.6pt] (photo) circle (1.35cm);
\node[anchor=center, font=\scriptsize\color{black!70}] at (photo) {No Photo};
\node[anchor=east](name) at ($(header.east)+(-1.8cm,-1.95cm)$) {#1};
\node[anchor=north east] at (name.south east) {#2};
\end{tikzpicture}%
\vspace{1.8cm}%
}

\begin{document}

\thispagestyle{empty}
\section*{Start}

\headernophoto{
  \bgupper{backBlue}{headerfontboxfont}{\bfseries\Huge ((( first_name | default("") | latex_escape ))) ((( last_name | default("") | latex_escape )))}
}{
  ((* if position *))\bg{backBlue}{headerfontboxfont}{\large ((( position | latex_escape )))}((* endif *))
}

\subsection*{}
\vspace{4em}

\setlength{\columnsep}{0.5cm}
\columnratio{0.2}[0.79]
\begin{paracol}{2}
\hbadness5000
\paracolbackgroundoptions

\small
{\setasidefontcolour
\vspace{1em}

((* if email or mobile or homepage or github or linkedin *))
\hspace{-0.7cm}\bgUpper{backBlue}{white}{Contact}\\
\hspace{-2.2em}\begin{tabular}{l l}
((* if email *))
\hipstercontactline{\icon{\faEnvelopeO}{backBlue}{}}{\href{mailto:((( email | latex_escape )))}{((( email | latex_escape )))} }
((* endif *))
((* if mobile *))
\hipstercontactline{\icon{\faPhone}{backBlue}{}}{((( mobile | latex_escape )))}
((* endif *))
((* if linkedin *))
\hipstercontactline{\icon{\faLinkedinSquare}{backBlue}{}}{\href{((( linkedin | latex_escape )))}{((( linkedin | latex_escape )))} }
((* endif *))
((* if github *))
\hipstercontactline{\icon{\faGithub}{backBlue}{}}{\href{((( github | latex_escape )))}{((( github | latex_escape )))} }
((* endif *))
((* if homepage *))
\hipstercontactline{\icon{\faGlobe}{backBlue}{}}{\href{((( homepage | latex_escape )))}{((( homepage | latex_escape )))} }
((* endif *))
\end{tabular}
\vspace{4em}
((* endif *))

((* if sections.skills *))((* include "sections/skills.tex.j2" *))((* endif *))
((* if sections.languages *))((* include "sections/languages.tex.j2" *))((* endif *))
((* if sections.volunteer *))((* include "sections/volunteer.tex.j2" *))((* endif *))
((* if sections.interests *))((* include "sections/interests.tex.j2" *))((* endif *))
((* if strengths and strengths | length > 0 *))((* include "sections/strengths.tex.j2" *))((* endif *))
((* if hobbies and hobbies | length > 0 *))((* include "sections/hobbies.tex.j2" *))((* endif *))
}

\switchcolumn

\small
((* if sections.summary *))((* include "sections/summary.tex.j2" *))((* endif *))
((* if sections.experience *))((* include "sections/experience.tex.j2" *))((* endif *))
((* if sections.education *))((* include "sections/education.tex.j2" *))((* endif *))
((* if sections.writing *))((* include "sections/writing.tex.j2" *))((* endif *))
((* if sections.certificates *))((* include "sections/certificates.tex.j2" *))((* endif *))
((* if sections.honors *))((* include "sections/honors.tex.j2" *))((* endif *))

\end{paracol}
\end{document}
