((# ============================================================ #))
((# Template: hipster_cv/resume.tex.j2                           #))
((# Source: adapted from user-provided hipster-cv variant         #))
((# Supported variables are identical to cv.tex.j2                #))
((# ============================================================ #))
((* include "cv.tex.j2" *))
